{% extends "ArcyroFrontBundle::layout.html.twig" %}
{% block content %}
    <div id="main_cont" class="row">
        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-9 title text-left">{{ 'h1.payment.summary'|trans }}</div>
            <div class="col-md-9">

            </div>
        </div>
        <div class="row content_container">

            <div class="container pull-center">
                <div class="row center text-center">

                    <h2>{{ 'payment.summary'|trans }}</h2>
                    {% if app.request.get('status') == 'OK' %}
                        <p class="checkConfirm">{{ 'payment.is.waited.for.confirm'|trans }}</p>
                        <span class="text-center pay-loader"><img src="{{ asset('bundles/arcyrofront/images/ajax-loader.gif') }}"/></span>
                        {% else %}
                        <p>{{ 'payment.is.failed.contact.with.admin.%adminEmail%'|trans({'%adminEmail%': getParameter('admin_email') }) }}</p>
                    {% endif %}
                    <br/>
                </div>    
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var timeInterval = null, xhr = null, times = 0;
        $(function () {
            timeInterval = setInterval(function () {
                checkPayStatus()
            }, 4000);
        })

        function checkPayStatus() {
            if (xhr) {
                xhr.abort();
            }
            xhr = $.ajax({
                url: '{{ path('arcyro_payment_check_pay') }}',
                type: "POST",
                data: {
                    id:{{ app.request.get('userSubscriptionId') }},
                            type: '{{ app.request.get('type') }}'
                },
                dataType: "json",
                success: function (json) {
                    times++;
                    if (json.result) {
                        clearInterval(timeInterval);
                        timeInterval = null;
                        $('.pay-loader').find('img').remove();
                        $('.checkConfirm').remove();
                        $('.pay-loader').text('{{ 'payment.finalized.succesuffly.you.can.use.your.account.in.full.options'|trans }}');
                    } else if (times > 15) {
                        clearInterval(timeInterval);
                        timeInterval = null;
                        $('.pay-loader').find('img').remove();
                        $('.checkConfirm').remove();
                        $('.pay-loader').text('{{ 'payment.is.failed.contact.with.admin.%adminEmail%'|trans({'%adminEmail%': getParameter('admin_email') }) }}');
                    }
                }
            });
        }
    </script>
{% endblock %}