
<form class="dot-pay-form form-horizontal center"  action="{{ form.vars.action }}" method="{{ form.vars.method }}">
    {{ form_widget(form) }}
    <input class="btn btn-success" type="submit" name="submit" value="{{ 'pay'|trans }}" disabled="disabled"/>   
</form>    
